dist
node_modules
apps/server/src/app/generated/rest/dto
libs/feature/webhook/src/lib/generated/rest/dto
libs/core/auth/src/lib/generated/rest/dto
libs/sdk/app-rest-sdk/src/lib
libs/sdk/app-angular-rest-sdk/src/lib