dist
node_modules
apps/server/src/app/generated/rest/dto
libs/core/webhook/src/lib/generated/rest/dto
libs/core/sso/src/lib/generated/rest/dto
libs/core/auth/src/lib/generated/rest/dto
libs/core/notifications/src/lib/generated/rest/dto
libs/core/two-factor/src/lib/generated/rest/dto
libs/sdk/rest-sdk/src/lib
libs/sdk/rest-sdk-angular/src/lib