/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

:root {
  --container-width: 1220px;
  --background-color: #4280f5;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}
