version: '3'
networks:
  site15-network:
    driver: 'bridge'
services:
  site15-postgre-sql:
    image: 'bitnami/postgresql:latest'
    container_name: 'site15-postgre-sql'
    networks:
      - 'site15-network'
    ports:
      - '5432:5432'
    healthcheck:
      test:
        - 'CMD-SHELL'
        - 'pg_isready -U postgres'
      interval: '5s'
      timeout: '5s'
      retries: 5
    tty: true
    restart: 'always'
    environment:
      POSTGRESQL_USERNAME: '%SITE_15_POSTGRE_SQL_POSTGRESQL_USERNAME%'
      POSTGRESQL_PASSWORD: '%SITE_15_POSTGRE_SQL_POSTGRESQL_PASSWORD%'
      POSTGRESQL_DATABASE: '%SITE_15_POSTGRE_SQL_POSTGRESQL_DATABASE%'
    volumes:
      - 'site15-postgre-sql-volume:/bitnami/postgresql'
volumes:
  site15-postgre-sql-volume:
    name: 'site15-postgre-sql-volume'
