fieldset {
  border: none;
}

.auth__page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  height: 100vh;
}

.auth__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 5px;
}

.form__title {
  color: var(--background-color);
  font-size: 32px;
  text-transform: uppercase;
}
.form__subtitle {
  color: #504d4d;
  font-weight: 800;
  margin: 10px 0 40px 0;
}

.form__fieldset {
  margin-bottom: 50px;
}

.invalid-form__text {
  color: #bd2929;
  font-weight: 500;
}
