<nz-layout class="layout">
  <nz-header>
    <div class="logo flex items-center justify-center">
      {{ title | transloco }}
    </div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item routerLink="/home" transloco="Home"></li>

      @if
      ([SsoRoleInterface.manager,SsoRoleInterface.admin]|checkUserRoles|async) {
      <li nz-menu-item routerLink="/webhooks" transloco="Webhooks"></li>
      <li nz-menu-item routerLink="/templates" transloco="Templates"></li>
      <li nz-menu-item routerLink="/users" transloco="Users"></li>
      } @if ([SsoRoleInterface.admin]|checkUserRoles|async) {
      <li nz-menu-item routerLink="/projects" transloco="Projects"></li>
      } @if
      ([SsoRoleInterface.user,SsoRoleInterface.manager,SsoRoleInterface.admin]|checkUserRoles|async)
      {
      <ng-template #iconRef>
        @if ({} | user | async; as user){ @if (user.picture){
        <nz-avatar
          nzSize="small"
          [nzText]="user.email[0]"
          [nzSrc]="getFullFilePath(user.picture)"
        ></nz-avatar>
        } @else {
        <nz-avatar
          nzSize="small"
          [nzText]="user.email[0].toUpperCase()"
        ></nz-avatar>
        }
        <span class="you-are-logged-in-as">
          {{ 'You are logged in as {{email}}' | transloco : user}}
        </span>
        }
      </ng-template>
      <li nz-submenu [nzTitle]="iconRef" [style]="{ float: 'right' }">
        <ul>
          <li nz-menu-item routerLink="/profile" transloco="Profile"></li>
          <li nz-menu-item (click)="signOut()" transloco="Sign-out"></li>
        </ul>
      </li>
      } @if ([]|checkUserRoles|async){
      <li
        nz-menu-item
        routerLink="/sign-up"
        [style]="{ float: 'right' }"
        transloco="Sign-up"
      ></li>
      <li
        nz-menu-item
        routerLink="/sign-in"
        [style]="{ float: 'right' }"
        transloco="Sign-in"
      ></li>
      }
      <a
        nz-menu-item
        href="https://github.com/nestjs-mod/nestjs-mod-sso"
        target="__blank"
      >
        <nz-icon nzType="github" nzTheme="outline" />
        {{ 'Source code' | transloco }}
      </a>
      <li
        nz-submenu
        [nzTitle]="lang$ | async | transloco"
        [style]="{ float: 'right' }"
      >
        <ul>
          <li
            *ngFor="let availableLang of availableLangs$ | async"
            nz-menu-item
            (click)="setActiveLang(availableLang.id)"
          >
            {{ availableLang.label | transloco }}
          </li>
        </ul>
      </li>
      @if (publicProjects$ | async; as publicProjects) { @if
      ((([SsoRoleInterface.admin]|checkUserRoles|async) ||
      ([]|checkUserRoles|async))){
      <li
        nz-submenu
        [nzTitle]="
          (activePublicProject$ | async)?.name ||
          ('Select active project' | transloco)
        "
        [style]="{ float: 'right' }"
      >
        <ul>
          <li
            *ngFor="let publicProject of publicProjects$ | async"
            nz-menu-item
            (click)="setActivePublicProject(publicProject)"
          >
            {{ publicProject.name }}
          </li>
        </ul>
      </li>
      }@else{
      <a nzDisabled="true" nz-menu-item [style]="{ float: 'right' }">{{
        (activePublicProject$ | async)?.name ||
          ('Select active project' | transloco)
      }}</a>
      } }
    </ul>
  </nz-header>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer class="flex justify-between">
    <div id="serverMessage"></div>
    <div id="serverTime">
      {{
        (serverTime$ | async)!
          | translocoDate : { dateStyle: 'medium', timeStyle: 'medium' }
      }}
    </div>
  </nz-footer>
</nz-layout>
