version: '3'
networks:
  site15-network:
    driver: 'bridge'
services:
  site15-postgre-sql:
    image: 'bitnami/postgresql:latest'
    container_name: 'site15-postgre-sql'
    networks:
      - 'site15-network'
    healthcheck:
      test:
        - 'CMD-SHELL'
        - 'pg_isready -U postgres'
      interval: '5s'
      timeout: '5s'
      retries: 5
    tty: true
    restart: 'always'
    environment:
      POSTGRESQL_USERNAME: '${SITE_15_POSTGRE_SQL_POSTGRESQL_USERNAME}'
      POSTGRESQL_PASSWORD: '${SITE_15_POSTGRE_SQL_POSTGRESQL_PASSWORD}'
      POSTGRESQL_DATABASE: '${SITE_15_POSTGRE_SQL_POSTGRESQL_DATABASE}'
    volumes:
      - 'site15-postgre-sql-volume:/bitnami/postgresql'
  site15-minio:
    image: 'bitnami/minio:latest'
    container_name: 'site15-minio'
    volumes:
      - 'site15-minio-volume:/bitnami/minio/data'
    ports:
      - '9000:9000'
      - '9001:9001'
    networks:
      - 'site15-network'
    environment:
      MINIO_ROOT_USER: '${SITE_15_MINIO_MINIO_ROOT_USER}'
      MINIO_ROOT_PASSWORD: '${SITE_15_MINIO_MINIO_ROOT_PASSWORD}'
    healthcheck:
      test:
        - 'CMD-SHELL'
        - 'mc'
        - 'ready'
        - 'local'
      interval: '5s'
      timeout: '5s'
      retries: 5
    tty: true
    restart: 'always'
  site15-redis:
    image: 'bitnami/redis:latest'
    container_name: 'site15-redis'
    volumes:
      - 'site15-redis-volume:/bitnami/redis/data'
    ports:
      - '6379:6379'
    networks:
      - 'site15-network'
    environment:
      REDIS_DATABASE: '0'
      REDIS_PASSWORD: '${SITE_15_REDIS_REDIS_PASSWORD}'
    healthcheck:
      test:
        - 'CMD-SHELL'
        - 'redis-cli --no-auth-warning -a $$REDIS_PASSWORD ping | grep PONG'
      interval: '5s'
      timeout: '5s'
      retries: 5
    tty: true
    restart: 'always'
  site15-server:
    image: site15
    build:
      dockerfile: ./.docker/server.Dockerfile
      context: ..
    container_name: 'site15-server'
    ports:
      - '${SITE_15_PORT}:${SITE_15_PORT}'
    networks:
      - 'site15-network'
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    healthcheck:
      test:
        [
          'CMD-SHELL',
          './node_modules/.bin/wait-on --timeout= --interval=1000 --window --verbose --log http://localhost:${SITE_15_PORT}/api/health',
        ]
      interval: 30s
      timeout: 10s
      retries: 10
    tty: true
    environment:
      ENV COREPACK_ENABLE_DOWNLOAD_PROMPT: '0'
      NODE_TLS_REJECT_UNAUTHORIZED: '0'
      SITE_15_PORT: '${SITE_15_PORT}'
      SITE_15_SSO_ADMIN_SECRET: '${SITE_15_SSO_ADMIN_SECRET}'
      SITE_15_WEBHOOK_DATABASE_URL: '${SITE_15_WEBHOOK_DATABASE_URL}'
      SITE_15_SSO_DATABASE_URL: '${SITE_15_SSO_DATABASE_URL}'
      SITE_15_METRICS_DATABASE_URL: '${SITE_15_METRICS_DATABASE_URL}'
      SITE_15_NOTIFICATIONS_DATABASE_URL: '${SITE_15_NOTIFICATIONS_DATABASE_URL}'
      SITE_15_TWO_FACTOR_DATABASE_URL: '${SITE_15_TWO_FACTOR_DATABASE_URL}'
      SITE_15_SSO_ADMIN_EMAIL: '${SITE_15_SSO_ADMIN_EMAIL}'
      SITE_15_SSO_ADMIN_USERNAME: '${SITE_15_SSO_ADMIN_USERNAME}'
      SITE_15_SSO_ADMIN_PASSWORD: '${SITE_15_SSO_ADMIN_PASSWORD}'
      SITE_15_MINIO_SERVER_HOST: '${SITE_15_MINIO_SERVER_HOST}'
      SITE_15_MINIO_ACCESS_KEY: '${SITE_15_MINIO_ACCESS_KEY}'
      SITE_15_MINIO_SECRET_KEY: '${SITE_15_MINIO_SECRET_KEY}'
      SITE_15_KEYV_URL: '${SITE_15_KEYV_URL}'
      SITE_15_SSO_SERVER_URL: '${SITE_15_SSO_SERVER_URL}'
      SITE_15_SSO_JWT_ACCESS_TOKEN_EXPIRES_IN: '${SITE_15_SSO_JWT_ACCESS_TOKEN_EXPIRES_IN}'
      SITE_15_SSO_JWT_REFRESH_TOKEN_EXPIRES_IN: '${SITE_15_SSO_JWT_REFRESH_TOKEN_EXPIRES_IN}'
      SITE_15_SSO_DEFAULT_PUBLIC_PROJECTS: '${SITE_15_SSO_DEFAULT_PUBLIC_PROJECTS}'
      SITE_15_SSO_DEFAULT_PROJECT: '${SITE_15_SSO_DEFAULT_PROJECT}'
      SITE_15_ROOT_DATABASE_URL: '${SITE_15_ROOT_DATABASE_URL}'
      SITE_15_SSO_CLIENT_URL: '${SITE_15_SSO_CLIENT_URL}'
      SITE_15_SSO_GOOGLE_OAUTH_CLIENT_ID: '${SITE_15_SSO_GOOGLE_OAUTH_CLIENT_ID}'
      SITE_15_SSO_GOOGLE_OAUTH_CLIENT_SECRET_KEY: '${SITE_15_SSO_GOOGLE_OAUTH_CLIENT_SECRET_KEY}'
      SITE_15_CLIENT_MINIO_URL: '${SITE_15_CLIENT_MINIO_URL}'
    restart: 'always'
    depends_on:
      site15-minio:
        condition: 'service_started'
      site15-redis:
        condition: 'service_healthy'
      site15-postgre-sql:
        condition: service_healthy
volumes:
  site15-postgre-sql-volume:
    name: 'site15-postgre-sql-volume'
  site15-minio-volume:
    name: 'site15-minio-volume'
  site15-redis-volume:
    name: 'site15-redis-volume'
# docker system prune --all
# docker compose -f ./docker-compose-full.yml --env-file ./docker-compose-full.env --compatibility up -d
# docker compose -f ./docker-compose-full.yml --env-file ./docker-compose-full.env --compatibility up -d --no-build
