<div class="table-operations" nz-row nzJustify="space-between">
  <div nz-col nzSpan="4">
    <button
      nz-button
      nzType="primary"
      (click)="showCreateOrUpdateModal()"
      transloco="Create new"
    ></button>
  </div>
  <div nz-col>
    <button (click)="loadMany()" nz-button nzType="primary" nzSearch>
      <span nz-icon nzType="search"></span>
    </button>
  </div>
</div>
<nz-table
  #basicTable
  [nzBordered]="true"
  [nzOuterBordered]="true"
  nzShowPagination
  nzShowSizeChanger
  [nzFrontPagination]="false"
  (nzQueryParams)="loadMany()"
  [nzData]="(items$ | async) || []"
>
  <thead>
    <tr>
      @for (key of keys; track $index) {
      <th [nzColumnKey]="key">{{ columns[key] | transloco }}</th>
      }
      <th transloco="Action"></th>
    </tr>
  </thead>
  @if (selectedIds$ | async; as selectedIds) {
  <tbody>
    @for (data of basicTable.data; track $index) {
    <tr
      (click)="
        selectedIds$.next(
          selectedIds[0] === (data.id || 'empty') ? [] : [data.id || 'empty']
        )
      "
      [class.selected]="selectedIds[0] === data.id"
    >
      @for (key of keys; track $index) { @if (data[key] &&
      ['createdAt','updatedAt' ].includes(key)) {
      <td>
        {{
          +data[key]
            | translocoDate : { dateStyle: 'medium', timeStyle: 'medium' }
        }}
      </td>
      } @else{
      <td>
        {{ data[key] }}
      </td>
      } }
      <td>
        <a (click)="showCreateOrUpdateModal(data.id)" transloco="Edit"></a>
        <nz-divider nzType="vertical"></nz-divider>
        <a
          (click)="data?.id ? showDeleteModal(data.id!) : null"
          transloco="Delete"
        ></a>
      </td>
    </tr>
    }
  </tbody>
  }
</nz-table>
