<site15-backend-error
  *ngIf="backendErrorsResponse$ | async as backendErrors"
  [backendErrors]="backendErrors"
></site15-backend-error>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="field">
    <label class="mb-2 mr-2">Name</label>
    <input type="text" pInputText formControlName="name" />
  </div>
  <div class="field">
    <label class="mb-2 mr-2">Title</label>
    <input type="text" pInputText formControlName="title" />
  </div>
  <div class="field">
    <label class="mb-2 mr-2">Title RU</label>
    <input type="text" pInputText formControlName="title_ru" />
  </div>
  <button type="submit" class="p-button-rounded p-button-warning" pButton>
    Create
  </button>
</form>
