<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="tui-form__row">
    <tui-input formControlName="name">Name </tui-input>

    <div class="error-fields">
      <small
        *ngIf="
          form.get('name')?.getError('required') && form.get('name')?.touched
        "
        >Name is required</small
      >
      <small *ngIf="form.get('name')?.getError('maxlength')"
        >Length should not be more than
        {{ form.get("name")?.getError("maxlength")["requiredLength"] }}. Current
        length:
        {{ form.get("name")?.getError("maxlength")["actualLength"] }}
      </small>
      <ng-container
        *ngIf="
          form.get('name')?.invalid &&
          (backendErrorsResponse$ | async) as errors
        "
      >
        <small> {{ errors | getErrorByParam : "name" }} </small>
      </ng-container>
    </div>
  </div>
  <div class="tui-form__row">
    <tui-input formControlName="title">Title</tui-input>
    <div class="error-fields">
      <small
        *ngIf="
          form.get('title')?.getError('required') && form.get('title')?.touched
        "
        >Title is required</small
      >
      <small *ngIf="form.get('title')?.getError('maxlength')"
        >Length should not be more than
        {{ form.get("title")?.getError("maxlength")["requiredLength"] }}.
        Current length:
        {{ form.get("title")?.getError("maxlength")["actualLength"] }}
      </small>

      <ng-container
        *ngIf="
          form.get('title')?.invalid &&
          (backendErrorsResponse$ | async) as errors
        "
      >
        <small> {{ errors | getErrorByParam : "title" }} </small>
      </ng-container>
    </div>
  </div>

  <div class="tui-form__row">
    <tui-input formControlName="title_ru">TitleRU </tui-input>
    <div class="error-fields">
      <small
        *ngIf="
          form.get('title_ru')?.getError('required') &&
          form.get('title_ru')?.touched
        "
        >TitleRU is required</small
      >
      <small *ngIf="form.get('title_ru')?.getError('maxlength')"
        >Length should not be more than
        {{ form.get("title_ru")?.getError("maxlength")["requiredLength"] }}.
        Current length:
        {{ form.get("title_ru")?.getError("maxlength")["actualLength"] }}
      </small>

      <ng-container
        *ngIf="
          form.get('title_ru')?.invalid &&
          (backendErrorsResponse$ | async) as errors
        "
      >
        <small> {{ errors | getErrorByParam : "title_ru" }} </small>
      </ng-container>
    </div>
  </div>
  <div class="tui-form__buttons">
    <button tuiButton size="m" type="submit" class="tui-form__button">
      Submit
    </button>
    <button
      tuiButton
      type="button"
      appearance="flat"
      size="m"
      class="tui-form__button"
      (click)="closeDialog()"
    >
      Cancel
    </button>
  </div>
</form>
