<nz-breadcrumb>
  <nz-breadcrumb-item transloco="Home"></nz-breadcrumb-item>
</nz-breadcrumb>
<div class="inner-content">
  <span transloco="Hello Static"></span>

  <nz-collapse>
    <nz-collapse-panel
      nzActive="true"
      [nzHeader]="
        'Dev/Watch mode: the infrastructure is running using docker-compose, applications are launched in watch pm2 mode'
          | transloco
      "
    >
      <h6
        nz-typography
        nzCopyable
        nzCopyText="git clone git@github.com:nestjs-mod/nestjs-mod-fullstack.git
cd nestjs-mod-fullstack
npm i
cp ./example.env ./.env"
      >
        {{ 'Init' | transloco }}
      </h6>
      <textarea
        class="border-1 p-2 bg-slate-100 w-full h-auto"
        rows="4"
        readonly="true"
      >
git clone git&#64;github.com:nestjs-mod/nestjs-mod-fullstack.git
cd nestjs-mod-fullstack
npm i
cp ./example.env ./.env</textarea
      >
      <h6 nz-typography nzCopyable nzCopyText="npm run pm2-full:dev:start">
        {{ 'Start' | transloco }}
      </h6>
      <textarea
        class="border-1 p-2 bg-slate-100 w-full h-auto"
        rows="1"
        readonly="true"
      >
npm run pm2-full:dev:start</textarea
      >
      <h6 nz-typography nzCopyable nzCopyText="http://localhost:4200">
        {{ 'Open in browser' | transloco }}
      </h6>
      <textarea
        class="border-1 p-2 bg-slate-100 w-full h-auto"
        rows="1"
        readonly="true"
      >
http://localhost:4200</textarea
      >
      <h6 nz-typography nzCopyable nzCopyText="npm run pm2-full:dev:test:e2e">
        {{ 'Testing' | transloco }}
      </h6>
      <textarea
        class="border-1 p-2 bg-slate-100 w-full h-auto"
        rows="1"
        readonly="true"
      >
npm run pm2-full:dev:test:e2e</textarea
      >
      <h6 nz-typography nzCopyable nzCopyText="npm run pm2-full:dev:stop">
        {{ 'Stop' | transloco }}
      </h6>
      <textarea
        class="border-1 p-2 bg-slate-100 w-full h-auto"
        rows="1"
        readonly="true"
      >
npm run pm2-full:dev:stop</textarea
      >
    </nz-collapse-panel>
    <nz-collapse-panel
      [nzHeader]="
        'Prod mode: the infrastructure is running using docker-compose, built applications are launched using pm2'
          | transloco
      "
    >
      <h6
        nz-typography
        nzCopyable
        nzCopyText="git clone git@github.com:nestjs-mod/nestjs-mod-fullstack.git
cd nestjs-mod-fullstack
npm i
cp ./example.env ./.env"
      >
        {{ 'Init' | transloco }}
      </h6>
      <textarea
        class="border-1 p-2 bg-slate-100 w-full h-auto"
        rows="4"
        readonly="true"
      >
git clone git&#64;github.com:nestjs-mod/nestjs-mod-fullstack.git
cd nestjs-mod-fullstack
npm i
cp ./example.env ./.env</textarea
      >
      <h6 nz-typography nzCopyable nzCopyText="npm run pm2-full:prod:start">
        {{ 'Start' | transloco }}
      </h6>
      <textarea
        class="border-1 p-2 bg-slate-100 w-full h-auto"
        rows="1"
        readonly="true"
      >
npm run pm2-full:prod:start</textarea
      >
      <h6 nz-typography nzCopyable nzCopyText="http://localhost:3000">
        {{ 'Open in browser' | transloco }}
      </h6>
      <textarea
        class="border-1 p-2 bg-slate-100 w-full h-auto"
        rows="1"
        readonly="true"
      >
http://localhost:3000</textarea
      >
      <h6 nz-typography nzCopyable nzCopyText="npm run pm2-full:prod:test:e2e">
        {{ 'Testing' | transloco }}
      </h6>
      <textarea
        class="border-1 p-2 bg-slate-100 w-full h-auto"
        rows="1"
        readonly="true"
      >
npm run pm2-full:prod:test:e2e</textarea
      >
      <h6 nz-typography nzCopyable nzCopyText="npm run pm2-full:prod:stop">
        {{ 'Stop' | transloco }}
      </h6>
      <textarea
        class="border-1 p-2 bg-slate-100 w-full h-auto"
        rows="1"
        readonly="true"
      >
npm run pm2-full:prod:stop</textarea
      >
    </nz-collapse-panel>
    <nz-collapse-panel
      [nzHeader]="
        'Docker-compose prod mode: the infrastructure and applications built into Docker images are run using docker-compose'
          | transloco
      "
    >
      <h6
        nz-typography
        nzCopyable
        nzCopyText="git clone git@github.com:nestjs-mod/nestjs-mod-fullstack.git
cd nestjs-mod-fullstack
npm i
cp ./example.env ./.env"
      >
        {{ 'Init' | transloco }}
      </h6>
      <textarea
        class="border-1 p-2 bg-slate-100 w-full h-auto"
        rows="4"
        readonly="true"
      >
git clone git&#64;github.com:nestjs-mod/nestjs-mod-fullstack.git
cd nestjs-mod-fullstack
npm i
cp ./example.env ./.env</textarea
      >
      <h6 nz-typography nzCopyable nzCopyText="npm run pm2-full:prod:start">
        {{ 'Start' | transloco }}
      </h6>
      <textarea
        class="border-1 p-2 bg-slate-100 w-full h-auto"
        rows="1"
        readonly="true"
      >
npm run docker-compose-full:prod:start</textarea
      >
      <h6 nz-typography nzCopyable nzCopyText="http://localhost:8080">
        {{ 'Open in browser' | transloco }}
      </h6>
      <textarea
        class="border-1 p-2 bg-slate-100 w-full h-auto"
        rows="1"
        readonly="true"
      >
http://localhost:8080</textarea
      >
      <h6
        nz-typography
        nzCopyable
        nzCopyText="npm run docker-compose-full:prod:test:e2e"
      >
        {{ 'Testing' | transloco }}
      </h6>
      <textarea
        class="border-1 p-2 bg-slate-100 w-full h-auto"
        rows="1"
        readonly="true"
      >
npm run docker-compose-full:prod:test:e2e</textarea
      >
      <h6 nz-typography nzCopyable nzCopyText="npm run pm2-full:prod:stop">
        {{ 'Stop' | transloco }}
      </h6>
      <textarea
        class="border-1 p-2 bg-slate-100 w-full h-auto"
        rows="1"
        readonly="true"
      >
npm run docker-compose-full:prod:stop</textarea
      >
    </nz-collapse-panel>

    <nz-collapse-panel
      [nzHeader]="
        'Supabase Dev/Watch mode: the infrastructure is running on Supabase, applications are launched in watch pm2 mode'
          | transloco
      "
    >
      <h6
        nz-typography
        nzCopyable
        nzCopyText="git clone git@github.com:nestjs-mod/nestjs-mod-fullstack.git
cd nestjs-mod-fullstack
npm i
cp ./example-supabase.env ./.env"
      >
        {{ 'Init' | transloco }}
      </h6>
      <textarea
        class="border-1 p-2 bg-slate-100 w-full h-auto"
        rows="4"
        readonly="true"
      >
git clone git&#64;github.com:nestjs-mod/nestjs-mod-fullstack.git
cd nestjs-mod-fullstack
npm i
cp ./example-supabase.env ./.env</textarea
      >
      <h6 nz-typography>
        {{ 'Prepare' | transloco }}
      </h6>
      <textarea
        class="border-1 p-2 bg-slate-100 w-full h-auto"
        rows="25"
        readonly="true"
      >
1. Create organization and project on [Supabase](https://supabase.com/)
2. Create bucket "images" in storage (example link: https://supabase.com/dashboard/project/XXX/storage/buckets)
3. Create new "S3 Access Keys" with "Access key ID" and "Secret access key" (example link: https://supabase.com/dashboard/project/gustcjgbrmmipkizqzso/settings/storage)
4. Open `.env` and fill empty_value's

   ```sh
   # https://supabase.com/dashboard/project/XXX/settings/api - API Settings - Project URL - URL
   SUPABASE_URL=empty_value
   # https://supabase.com/dashboard/project/XXX/settings/database?showConnect=true - Connection String - Direct connection
   POSTGRES_URL=empty_value
   # https://supabase.com/dashboard/project/XXX/settings/api - API Settings - Project API Keys - anon public
   SUPABASE_ANON_KEY=empty_value
   # https://supabase.com/dashboard/project/gustcjgbrmmipkizqzso/settings/storage - S3 Access Keys - New access key - Access key ID
   SERVER_MINIO_ACCESS_KEY=empty_value
   # https://supabase.com/dashboard/project/gustcjgbrmmipkizqzso/settings/storage - S3 Access Keys - New access key - Secret access key
   SERVER_MINIO_SECRET_KEY=empty_value
   ```

5. Create and fill all need new env keys

   ```sh
   npx --yes tsx update-files-for-vercel.ts
   ```</textarea
      >
      <h6
        nz-typography
        nzCopyable
        nzCopyText="npm run pm2-supabase-full:dev:start"
      >
        {{ 'Start' | transloco }}
      </h6>
      <textarea
        class="border-1 p-2 bg-slate-100 w-full h-auto"
        rows="1"
        readonly="true"
      >
npm run pm2-supabase-full:dev:start</textarea
      >
      <h6 nz-typography nzCopyable nzCopyText="http://localhost:4200">
        {{ 'Open in browser' | transloco }}
      </h6>
      <textarea
        class="border-1 p-2 bg-slate-100 w-full h-auto"
        rows="1"
        readonly="true"
      >
http://localhost:4200</textarea
      >
      <h6
        nz-typography
        nzCopyable
        nzCopyText="npm run pm2-supabase-full:dev:test:e2e"
      >
        {{ 'Testing' | transloco }}
      </h6>
      <textarea
        class="border-1 p-2 bg-slate-100 w-full h-auto"
        rows="1"
        readonly="true"
      >
npm run pm2-supabase-full:dev:test:e2e</textarea
      >
      <h6
        nz-typography
        nzCopyable
        nzCopyText="npm run pm2-supabase-full:dev:stop"
      >
        {{ 'Stop' | transloco }}
      </h6>
      <textarea
        class="border-1 p-2 bg-slate-100 w-full h-auto"
        rows="1"
        readonly="true"
      >
npm run pm2-supabase-full:dev:stop</textarea
      >
    </nz-collapse-panel>
  </nz-collapse>
</div>
